# Novel Summarizer

## Imports

In [1]:
import subprocess
import pandas as pd
import numpy as np
import csv
import json
import nltk
import sys
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
import search_google.api
import urllib.request as requests
from bs4 import BeautifulSoup

/Users/kksaikrishna/anaconda3/lib/python3.6/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

## Path Conf

In [75]:
path_data_index = '../data/non_fiction_novels/index.csv'
path_book_nlp_out = '../../dependencies/book_nlp_output/'
path_bing_neg_score = '../dependencies/bing_sentiment_lexicons/negative-words-labelled.xlsx'
path_output_ch = '../output/top_close_characters.xlsx'
path_output_int = '../output/character_integrity.xlsx'
path_output_ch_rel = '../output/character_relationship.xlsx'

## Initializing

In [3]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
nltk_senti_analyzer = SentimentIntensityAnalyzer()

## Parameter Configurations

In [76]:
# Config Params DO NOT CHANGE
cur_story_index = 10 # 10 for pp, 6 for hp
n_close_chars = 3 
n_top_chars = 10
keep_pos = ['JJ','JJS','JJR','RR','RBR','RBS','VB','VBD','VBG','VBN','VBP','VBZ']
window = 0
n_query_max_page = 5
n_query_per_page = 10
concord_left_margin = 5
concord_right_margin = 5
n_concord = -1

## API Conf

In [5]:
buildargs = {
  'serviceName': 'customsearch',
  'version': 'v1',
  'developerKey': 'AIzaSyBAEWHb_bLgqpmY_NY50ykZDz9JI_ZH1GQ'
}

cseargs = {
  'q': '',
  'cx': '009620542372427651480:rc6g5pqmltw',
  'num': n_query_per_page,
  'start':1
}

## Utils

In [6]:
def readJsonFile(jsonPath):
    with open(jsonPath) as f:
        data = json.load(f)
    return data

In [7]:
def removeKeysFromDict(dict_vals,keepList):
    dict_ret = {}
    for k in keepList:
        if(k in dict_vals):
            dict_ret[k] = dict_vals[k]
    return dict_ret

In [8]:
def isObject(word):
    wn_word = word.lower() + '.n.01'
    try:
        wn_lemma = wn.synset(wn_word)
    except:
        return False
    
    l_hyper = str(list(wn_lemma.closure(lambda s: s.hypernyms())))
    if('object.n.01' in l_hyper and 'living_thing.n.01' not in l_hyper):
        return True
    else:
        return False

In [9]:
def getWordnetPos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wn.ADJ
    elif treebank_tag.startswith('V'):
        return wn.VERB
    elif treebank_tag.startswith('N'):
        return wn.NOUN
    elif treebank_tag.startswith('R'):
        return wn.ADV
    else:
        return ''

In [10]:
def queryLink(url):
    try:
        html = requests.urlopen(url).read().decode('utf8')
    except:
        return []
    
    return nltk.word_tokenize(BeautifulSoup(html,'lxml').get_text())

In [11]:
def lemmatizeWord(word,pos_tag):
    pos_tag = getWordnetPos(pos_tag)
    if(pos_tag != ''):
        return lemmatizer.lemmatize(word,pos_tag)
    else:
        return lemmatizer.lemmatize(word)

In [12]:
def getConcordance(target_word, main_text, left_margin = concord_left_margin,\
                   right_margin = concord_right_margin,\
                   n_concord = n_concord,is_pre_process=True):     
    if(n_concord == -1):
        n_concord = np.inf

    concord_text = []
    cur_iter = 0
    while(cur_iter < n_concord):
        if(target_word in main_text):
            index = main_text.index(target_word)
        else:
            break

        concord_text += main_text[index - left_margin : index + right_margin + 1]

        if(index+1 < len(main_text)):
            main_text = main_text[index+1:]
        else:
            break

        cur_iter += 1
    if(is_pre_process):
        concord_text = preProcessConcordText(concord_text)
    return concord_text

In [13]:
def getUnqColVals(df,col_name):
    return list(set(df[col_name]))

In [14]:
def retMatchAccuracy(list1,list2,div_by_2=True):
    n = len(set(list1).intersection(set(list2)))
    if(div_by_2):
        return n/len(list2)
    return n/list(1)

In [15]:
def retMatchAccuracyForTuple(list1,list2):
    if(len(list1) != len(list2)):
        return 0
    
    if(len(list1) == 0):
        return 0
    
    n = len(list1)
    acc = 0
    hit_count = 0
    for tup1,tup2 in zip(list1,list2):
        if(len(tup1) != len(tup2)):
            return 0
        
        acc += len(set(tup1).intersection(set(tup2)))/len(tup1)
        hit_count += len(set(tup1).intersection(set(tup2)))
        
    return acc/n,hit_count

In [16]:
def exactListMatch(list1,list2):
    if(len(list1) != len(list2)):
        return 0
    
    if(len(list1) == 0):
        return 0
    
    acc = len([i for i, j in zip(list1, list2) if i == j])
    
    return acc/len(list1)

## Helper Methods

In [17]:
def initializeCharacterMatrix(df):
    character_distance_matrix = np.empty((len(df), len(df)))
    character_distance_matrix[:] = np.inf
    return character_distance_matrix

In [18]:
def createBookNLPCommand(path,story_id,isForce,isReturnPath=False):
    jsonPath = path_book_nlp_out + story_id
    tokensPath = path_book_nlp_out + story_id + '.tokens'
    
    command = './runjava novels/BookNLP -doc ../'
    command += path
    command += ' -p '
    command += jsonPath
    command += ' -tok '
    command += tokensPath
    if(isForce):
        command += ' -f'
    
    if(isReturnPath):
        return command, jsonPath +'/book.id.book', tokensPath
    else:
        return command

In [19]:
def getBookNLPTokens(path,story_id,isForce=False):
    command,jsonPath,tokensPath = createBookNLPCommand(path,story_id,isForce,True)
    p = subprocess.Popen(command, shell=True, cwd='../resources/book-nlp-master')
    retval = p.wait()
    return jsonPath[3:],tokensPath[3:],retval

In [20]:
def getCharacterIDFromIndex(indices,df,lookup_col):
    ret = []
    for i in indices:
        ret.append(df[lookup_col][i])
    return ret

In [21]:
def getCharacterDF(df,n_top_chars=None):
    df = df.loc[df.characterId != -1]
    df_ch = df.groupby('characterId')['tokenId'].apply(list).reset_index(name='tokens')
    df_ch.tokens = df_ch.tokens.apply(sorted)
    df_ch['tok_len'] = df_ch.tokens.apply(len)
    
    if(n_top_chars is not None):
        df_ch = df_ch.sort_values(by='tok_len',ascending=False).reset_index(drop=True)[:n_top_chars]
        df_ch = df_ch.sort_values(by='tok_len').reset_index(drop=True)
    else:
        df_ch = df_ch.sort_values(by='tok_len',ascending=False).reset_index(drop=True)
        
    return df_ch

In [22]:
def getCharacterDistanceMatrix(df_ch):
    character_distance_matrix = initializeCharacterMatrix(df_ch)

    for index1,token1 in enumerate(df_ch.tokens):
        for index2,token2 in enumerate(df_ch.tokens):
            if(index1 == index2):
                continue
            elif(index1 < index2):
                iter_token = token1
                cons_token = token2
            else:
                iter_token = token2
                cons_token = token1

            dist = 0
            for tok in iter_token:
                dist += np.min(abs(np.array(cons_token)-tok))
            character_distance_matrix[index1][index2] = (dist/(len(iter_token)))
            
    return character_distance_matrix

In [23]:
def getNNPCount(json_data,character_id):
    characters = json_data['characters']
    for ch in characters:
        if(ch['id'] == character_id):
            if('NNPcount' in ch):
                return ch['NNPcount']
            else:
                return 0

In [24]:
def getTopNCharacters(json_data,list_character_id,n):
    dict_nnp_count = {}
    for ch in list_character_id:
        dict_nnp_count[ch] = getNNPCount(json_data,ch)
    return sorted(list_character_id, key=dict_nnp_count.get)[-n:]

In [25]:
def getTopNCloseCharacters(df,df_ch,json_book_data,character_distance_matrix,n_top_chars=10,n_close_chars=3):
    closest_characters = {}
    for index,character_distance_vector in enumerate(character_distance_matrix):
        min_distance_characters = getCharacterIDFromIndex(np.argsort(character_distance_vector)[:n_close_chars],\
                                                          df_ch,'characterId')
        i_ch = getCharacterIDFromIndex([index],df_ch,'characterId')
        closest_characters[i_ch[0]] = min_distance_characters
        
    list_character_id = set(df.characterId)
    list_character_id.remove(-1)
    list_character_id = list(list_character_id)
    
    top_n_ch = getTopNCharacters(json_book_data,list_character_id,n_top_chars)
    
    return removeKeysFromDict(closest_characters,top_n_ch)

In [26]:
def returnIDNameDict(json_data):
    dict_char = {}
    characters = json_data['characters']
    for ch in characters:
        dict_char[ch['id']] = ch['names'][0]['n']
    return dict_char

In [27]:
def transformDictIDToName(dict_characters,dict_id_char,isOnlyKey=True):
    dict_ret = {}
    for key,val in dict_characters.items():
        if(isOnlyKey):
            dict_ret[dict_id_char[key]]  = val
        else:
            cur = []
            for ch in val:
                 cur.append(dict_id_char[ch])
            dict_ret[dict_id_char[key]] = cur
            
    return dict_ret

In [28]:
def getEquivalentSentId(df,list_token_id):
    sentId = set()
    for token_id in list_token_id:
        sentId.add(df.loc[df.tokenId == token_id].sentenceID.reset_index(drop=True)[0])
    return list(sentId)

In [29]:
def getSentTextById(df,list_sent_id,window=0,keep_pos=None,is_remove_stop_words=True,is_lemmatize=True,isStr = False):
    window_sent_id = []
    for sent_id in list_sent_id:
        window_sent_id += list(range(sent_id-window,sent_id+window+1))
        
    df_sent_window = df.loc[df.sentenceID.isin(window_sent_id)]
    
    if(keep_pos is not None and len(df_sent_window) != 0):
        df_sent_window = df_sent_window.loc[df_sent_window.pos.isin(keep_pos)]
    
    if(is_remove_stop_words and len(df_sent_window) != 0):
        df_sent_window = df_sent_window.loc[~df_sent_window.lemma.isin(stop_words)]
        
    if(is_lemmatize and len(df_sent_window) != 0):
        df_sent_window.lemma = df_sent_window.apply(lambda row: lemmatizeWord(row['lemma'], row['pos']), axis=1)
    
    if(isStr):
        return ' '.join(list(df_sent_window.lemma))
    
    return list(df_sent_window.lemma)

In [30]:
def getSpeechText(json_data,character_id,window,keep_pos):
    list_token_id = []
    characters = json_data['characters']
    for ch in characters:
        if(ch['id'] == character_id):
            if('speaking' in ch):
                for speech in ch['speaking']:
                    list_token_id.append(speech['i'])
                
    list_sent_id = getEquivalentSentId(df,list_token_id)
    return getSentTextById(df,list_sent_id,window,keep_pos)

In [31]:
def getAgentVerbs(json_data,character_id):
    list_agent_verbs = []
    characters = json_data['characters']
    for ch in characters:
        if(ch['id'] == character_id):
            if('agent' in ch):
                for agent in ch['agent']:
                    list_agent_verbs.append(lemmatizeWord(agent['w'],'V'))
    return list_agent_verbs

In [32]:
def getWindowText(df,character_id,window,keep_pos):
    df_ch = df.groupby('characterId')['sentenceID'].apply(set).reset_index(name='sentence')
    ch_sents = list(df_ch.loc[df_ch.characterId == character_id].sentence.reset_index(drop=True)[0])
    return getSentTextById(df,ch_sents,window,keep_pos)

In [33]:
def getObjectsInPossession(json_data,character_id):
    list_obj_poss_words = []
    characters = json_data['characters']
    for ch in characters:
        if(ch['id'] == character_id):
            if('poss' in ch):
                for poss in ch['poss']:
                    if(isObject(poss['w'])):
                        list_obj_poss_words.append(lemmatizeWord(poss['w'],'N'))
    return list_obj_poss_words

In [34]:
def getLinks():
    results = search_google.api.results(buildargs, cseargs)
    return results.links

In [35]:
def preProcessConcordText(concord_text):
    ret = []
    pos = nltk.pos_tag(concord_text)
    for word,tag in pos:
        if(tag in keep_pos):
            ret.append(word.lower())
    return ret

In [36]:
def webScrapeData(topic):
    book_web_scraped_data = []
    cseargs['q'] = topic

    for i in range(n_query_max_page):
        cseargs['start'] = i + 1
        links = getLinks()
        for url in links:
            book_web_scraped_data += queryLink(url)

    return book_web_scraped_data

In [98]:
def getFeatureText(json_book_data,book_web_scraped_data,character_id,dict_id_char,book_name):
    feature_text = []

#   Using Novel Data    
    feature_text += getSpeechText(json_book_data,character_id,window,keep_pos)
    feature_text += getAgentVerbs(json_book_data,character_id)
    feature_text += getObjectsInPossession(json_book_data,character_id)
    feature_text += getWindowText(df,character_id,window,keep_pos)
    character_name = dict_id_char[character_id]
    
#   Using Web Data
    feature_text += getConcordance(character_name, book_web_scraped_data)
    topic = character_name + '\'s Character Analysis from ' + book_name
    ch_web_data = webScrapeData(topic)
    feature_text += getConcordance(character_name, ch_web_data)
    
    return feature_text

In [38]:
def getSentimentScore(feature_text,df_neg_labelled,nnp_count):
    if(feature_text is None):
        return 0
    
    if(len(feature_text) == 0):
        return 0
    
    pos_score = 0
    neg_score = 0
    list_neg_words = list(df_neg_labelled.list_neg_text)
    hit_count = 0
    
    for word in feature_text:
        if(word in list_neg_words):
            hit_count += 1
            score = df_neg_labelled.loc[list_neg_words.index(word)].neg_polarity
            neg_score += score
            
    return (neg_score)/hit_count

In [39]:
def normalizeSentiScore(senti_score,factor):
    return senti_score * factor

In [40]:
def getLabelFromSentiScore(senti_score,threshold):
    if(senti_score > threshold):
        return 0
    else:
        return 1

In [41]:
def isCharacterExist(ch_set,ch1,ch2):
    if(ch1 in ch_set and ch2 in ch_set):
        return True
    else:
        return False

In [42]:
def getRowsWithMutipleCharacters(df):
    df_ch_co_occur = df.loc[df.characterId != -1]\
    .groupby('sentenceID')['characterId']\
    .apply(set).reset_index(name='characters')

    df_ch_co_occur['n_chars'] = df_ch_co_occur.characters.apply(len)
    return df_ch_co_occur.loc[df_ch_co_occur.n_chars != 1].reset_index(drop=True)

In [43]:
def getRowsWithTwoCharacters(df_co_occur,ch1,ch2):
    col_name = 'ch_' + str(ch1) + '_' + 'ch_' + str(ch2)
    df_ch_co_occur[col_name] = df_ch_co_occur.apply\
    (lambda row: isCharacterExist(row['characters'],ch1,ch2), axis=1)
    df_ch1_ch2 = df_ch_co_occur.loc[df_ch_co_occur[col_name] == True].reset_index(drop=True)
    return df_ch1_ch2.drop(columns=[col_name])

In [44]:
def idToName(ch_id,dict_id_char):
    return dict_id_char[ch_id]

In [45]:
def validation(df_val,df_close_chars,df_char_int,df_ch_rel):
    data_character_list = list(df_val.Character)
    model_character_list = list(df_close_chars.Character)
    acc1 = retMatchAccuracy(data_character_list,model_character_list)
    
    df_merge = pd.merge(df_val, df_close_chars, on='Character')
    zip1 = list(zip(df_merge.Close_Character_1,df_merge.Close_Character_2,df_merge.Close_Character_3))
    zip2 = list(zip(df_merge.ch1_id,df_merge.ch2_id,df_merge.ch3_id))
    acc2,n = retMatchAccuracyForTuple(zip1,zip2)
    
    df_merge = pd.merge(df_val, df_char_int, on='Character')
    acc3 = exactListMatch(df_merge.Character_intergrity,df_merge.label_senti_score)
    
    acc = 0
    for index,row in df_ch_rel.iterrows():
        flag = 0
        for i in range(n_close_chars):
            col = 'Close_Character_' + str(i+1)
            rel_col = 'Rel_Close_Character_' + str(i+1)
            df_filter = df_val.loc[df_val.Character == row.ch1_id].loc[df_val[col] == row.ch2_id]
            if(len(df_filter) != 0):
                df_filter = df_filter.reset_index(drop=True)
                true_label = df_filter.loc[0][rel_col]
                pred_label = row.label_senti_score
                if(true_label == pred_label):
                    acc += 1
                flag = 1
                break
    #     if(flag == 1):
    #         print(true_label,pred_label,row.ch1_id,row.ch2_id)

    acc4 = acc/n
    
    return acc1,acc2,acc3,acc4

## Main Logic

### Read Index CSV from Data Folder

In [77]:
df_data = pd.read_csv(path_data_index)
df_data.head()

,essay_id,topic,path,validation
0,st_1,Sense and Sensibility,../data/non_fiction_novels/stories/st_1.txt,NaN
1,st_2,Wuthering Heights,../data/non_fiction_novels/stories/st_2.txt,NaN
2,st_3,Christmas Carol,../data/non_fiction_novels/stories/st_3.txt,NaN
3,st_4,Oliver Twist,../data/non_fiction_novels/stories/st_4.txt,NaN
4,st_5,King Solomon's Mines,../data/non_fiction_novels/stories/st_5.txt,NaN

### Get the Title of the Book and Webscrape Data

In [78]:
book_name = df_data.topic.loc[cur_story_index]
book_web_scraped_data = %time webScrapeData(book_name)
len(book_web_scraped_data)

CPU times: user 2.83 s, sys: 160 ms, total: 2.99 s
Wall time: 7.34 s

68093

### Import Negative Labelled Data

In [79]:
df_neg_labelled = pd.read_excel(path_bing_neg_score,index=False)
df_neg_labelled.head()

  list_neg_text  neg_polarity
0      abnormal             1
1       abolish             1
2    abominable             3
3    abominably             3
4     abominate             3

In [80]:
df_neg_labelled.sample(n=200,replace=False).to_excel('for_kappa.xlsx',index=True)

### Execute Book-NLP

In [81]:
jsonPath,tokensPath,retval = %time getBookNLPTokens(df_data.path[cur_story_index],\
                                              df_data.essay_id[cur_story_index],True)
if(retval != 0):
    print('Error running Book-NLP... Exiting Now\nReturn Value:',retval)
    sys.exit()
    
jsonPath,tokensPath

CPU times: user 9.26 ms, sys: 30.5 ms, total: 39.7 ms
Wall time: 3min 49s

('../dependencies/book_nlp_output/st_11/book.id.book',
 '../dependencies/book_nlp_output/st_11.tokens')

### Read Book-NLP Json

In [82]:
json_book_data = %time readJsonFile(jsonPath)
dict_id_char = %time returnIDNameDict(json_book_data)

CPU times: user 12.1 ms, sys: 29.9 ms, total: 42 ms
Wall time: 171 ms
CPU times: user 71 µs, sys: 28 µs, total: 99 µs
Wall time: 104 µs

### Import Book-NLP Token File

In [83]:
df = %time pd.read_csv(tokensPath,sep='\t',engine='python',quoting=csv.QUOTE_NONE, encoding='utf-8')
df.head()

CPU times: user 2.31 s, sys: 718 ms, total: 3.03 s
Wall time: 3.54 s

,paragraphId,sentenceID,tokenId,beginOffset,endOffset,whitespaceAfter,headTokenId,originalWord,normalizedWord,lemma,pos,ner,deprel,inQuotation,characterId,supersense
0,0,0,0,0,7,S,-1,Chapter,Chapter,chapter,NN,O,NaN,O,-1,B-noun.communication
1,0,0,1,8,9,NNN,0,1,1,1,CD,NUMBER,num,O,-1,O
2,1,0,2,12,14,S,5,It,It,it,PRP,O,nsubj,O,-1,O
3,1,0,3,15,17,S,5,is,is,be,VBZ,O,cop,O,-1,B-verb.stative
4,1,0,4,18,19,S,5,a,a,a,DT,O,det,O,-1,O

### Pre-Compute Character Distance Matrix

In [84]:
df_ch = %time getCharacterDF(df)
character_distance_matrix = %time getCharacterDistanceMatrix(df_ch)

CPU times: user 35.7 ms, sys: 5.76 ms, total: 41.5 ms
Wall time: 61.4 ms
CPU times: user 32.5 s, sys: 502 ms, total: 33 s
Wall time: 33.5 s

### Find Top N Characters and Top M Close Characters for each

In [85]:
dict_closest_characters = %time getTopNCloseCharacters(df,df_ch,json_book_data,\
                                                       character_distance_matrix,n_top_chars,n_close_chars)
# transformDictIDToName(dict_closest_characters,dict_id_char,False)
df_close_chars = pd.DataFrame.from_dict(dict_closest_characters)\
.transpose()\
.reset_index()\
.rename(index=str, columns={"index": "Character"})\
.rename(index=int, columns={0: 'ch1_id', 1: 'ch2_id', 2: 'ch3_id'})

df_close_chars['character_name'] = df_close_chars.apply(lambda row: idToName(row['Character'], dict_id_char), axis=1)
df_close_chars['ch1_name'] = df_close_chars.apply(lambda row: idToName(row['ch1_id'], dict_id_char), axis=1)
df_close_chars['ch2_name'] = df_close_chars.apply(lambda row: idToName(row['ch2_id'], dict_id_char), axis=1)
df_close_chars['ch3_name'] = df_close_chars.apply(lambda row: idToName(row['ch3_id'], dict_id_char), axis=1)

df_close_chars

CPU times: user 20.6 ms, sys: 1.68 ms, total: 22.3 ms
Wall time: 21.6 ms

,Character,ch1_id,ch2_id,ch3_id,character_name,ch1_name,ch2_name,ch3_name
0,41,38,39,50,Lizzy,Mrs. Gardiner,Kitty,Mrs. Bennet
1,2,13,40,50,Lady Catherine,Mr. Collins,Rosings,Mrs. Bennet
2,13,2,47,50,Mr. Collins,Lady Catherine,Lydia,Mrs. Bennet
3,50,47,59,16,Mrs. Bennet,Lydia,Mr. Bennet,Jane
4,47,50,59,69,Lydia,Mrs. Bennet,Mr. Bennet,Wickham
5,69,47,50,12,Wickham,Lydia,Mrs. Bennet,Miss Darcy
6,67,1,16,50,Mr. Bingley,Mr. Darcy,Jane,Mrs. Bennet
7,16,48,1,67,Jane,Elizabeth,Mr. Darcy,Mr. Bingley
8,1,48,16,67,Mr. Darcy,Elizabeth,Jane,Mr. Bingley
9,48,1,16,67,Elizabeth,Mr. Darcy,Jane,Mr. Bingley

### Find Integrity Analysis on the Top N Characters

In [99]:
ch_senti_score = {}
for ch,close_ch in dict_closest_characters.items():
    feature_text = %time getFeatureText(json_book_data,book_web_scraped_data,ch,dict_id_char,book_name)
    nnp_count = getNNPCount(json_book_data,ch)
    ch_senti_score[ch] = getSentimentScore(feature_text,df_neg_labelled,nnp_count)
    
df_char_int = pd.DataFrame(columns=['Character', 'senti_score'])
for key,val in ch_senti_score.items():
    df_char_int.loc[len(df_char_int)] = [key,val]
df_char_int['ch1_name'] = df_char_int.apply(lambda row: idToName(row['Character'], dict_id_char), axis=1)
df_char_int['norm_senti_score'] = df_char_int.apply(lambda row: normalizeSentiScore(row['senti_score'], 1.0/sum(df_char_int.senti_score)), axis=1)
df_char_int['label_senti_score'] = df_char_int.apply(lambda row: getLabelFromSentiScore(row['norm_senti_score'], 1.0/len(df_char_int.senti_score)), axis=1)
df_char_int

CPU times: user 11.2 s, sys: 369 ms, total: 11.6 s
Wall time: 28 s
CPU times: user 6.2 s, sys: 166 ms, total: 6.36 s
Wall time: 17.5 s
CPU times: user 7.4 s, sys: 177 ms, total: 7.57 s
Wall time: 19.5 s
CPU times: user 7.7 s, sys: 218 ms, total: 7.92 s
Wall time: 23 s
CPU times: user 9.33 s, sys: 346 ms, total: 9.67 s
Wall time: 23.1 s
CPU times: user 8.9 s, sys: 383 ms, total: 9.29 s
Wall time: 20.7 s
CPU times: user 7.32 s, sys: 225 ms, total: 7.54 s
Wall time: 18.6 s
CPU times: user 11.3 s, sys: 437 ms, total: 11.7 s
Wall time: 25.5 s
CPU times: user 9.08 s, sys: 222 ms, total: 9.3 s
Wall time: 22 s
CPU times: user 15.3 s, sys: 723 ms, total: 16.1 s
Wall time: 31 s

   Character  senti_score        ch1_name  norm_senti_score  label_senti_score
0       41.0     1.208955           Lizzy          0.090268                  1
1        2.0     1.350000  Lady Catherine          0.100800                  0
2       13.0     1.333333     Mr. Collins          0.099555                  1
3       50.0     1.347305     Mrs. Bennet          0.100598                  0
4       47.0     1.385113           Lydia          0.103421                  0
5       69.0     1.445205         Wickham          0.107908                  0
6       67.0     1.344828     Mr. Bingley          0.100413                  0
7       16.0     1.302115            Jane          0.097224                  1
8        1.0     1.361266       Mr. Darcy          0.101641                  0
9       48.0     1.314799       Elizabeth          0.098171                  1

In [87]:
from textblob import TextBlob

### Find Nature of Character Relationships

In [101]:
df_ch_co_occur = getRowsWithMutipleCharacters(df)
df_ch_rel = pd.DataFrame(columns=['ch1_id', 'ch2_id', 'senti_score'])

for ch1,close_ch in dict_closest_characters.items():
    for ch2 in close_ch:
        list_senti_score = []
        df_ch1_ch2 = getRowsWithTwoCharacters(df_ch_co_occur,ch1,ch2)
        list_sent_id = getUnqColVals(df_ch1_ch2,'sentenceID')
        for sent_id in list_sent_id:
            sentence = getSentTextById(df=df,\
                            list_sent_id=[sent_id],\
                            isStr=True,\
                            keep_pos=None,\
                            is_lemmatize=False,\
                            is_remove_stop_words=False)
            
#             nltk_sent_analysis = nltk_senti_analyzer.polarity_scores(sentence)
#             list_senti_score.append(nltk_sent_analysis.get('compound'))
            list_senti_score.append(TextBlob(sentence).sentiment.polarity)
            
        df_ch_rel.loc[len(df_ch_rel)] = [ch1,ch2,np.mean(list_senti_score)]
        
df_ch_rel['ch1_name'] = df_ch_rel.apply(lambda row: idToName(row['ch1_id'], dict_id_char), axis=1)
df_ch_rel['ch2_name'] = df_ch_rel.apply(lambda row: idToName(row['ch2_id'], dict_id_char), axis=1)
df_ch_rel['norm_senti_score'] = [(float(i)/max(df_ch_rel.senti_score)) for i in df_ch_rel.senti_score]
threshold = np.mean(df_ch_rel['norm_senti_score']) - (np.std(df_ch_rel['norm_senti_score'])/2)
df_ch_rel['label_senti_score'] = df_ch_rel.norm_senti_score.apply(lambda x: 0 if x < threshold else 1)
df_ch_rel

,ch1_id,ch2_id,senti_score,ch1_name,ch2_name,norm_senti_score,label_senti_score
0,41.0,38.0,0.250000,Lizzy,Mrs. Gardiner,0.350877,1
1,41.0,39.0,-0.050926,Lizzy,Kitty,-0.071475,0
2,41.0,50.0,-0.041049,Lizzy,Mrs. Bennet,-0.057613,0
3,2.0,13.0,0.186041,Lady Catherine,Mr. Collins,0.261110,1
4,2.0,40.0,0.012674,Lady Catherine,Rosings,0.017788,0
5,2.0,50.0,0.354167,Lady Catherine,Mrs. Bennet,0.497076,1
6,13.0,2.0,0.186041,Mr. Collins,Lady Catherine,0.261110,1
7,13.0,47.0,0.086146,Mr. Collins,Lydia,0.120906,1
8,13.0,50.0,0.165385,Mr. Collins,Mrs. Bennet,0.232120,1
9,50.0,47.0,0.133282,Mrs. Bennet,Lydia,0.187062,1
10,50.0,59.0,0.167429,Mrs. Bennet,Mr. Bennet,0.234987,1
11,50.0,16.0,0.017496,Mrs. Bennet,Jane,0.024556,0
12,47.0,50.0,0.133282,Lydia,Mrs. Bennet,0.187062,1
13,47.0,59.0,0.046319,Lydia,Mr. Bennet,0.065010,0
14,47.0,69.0,0.054361,Lydia,Wickham,0.076296,0
15,69.0,47.0,0.054361,Wickham,Lydia,0.076296,0
16,69.0,50.0,0.062183,Wickham,Mrs. Bennet,0.087274,0
17,69.0,12.0,0.712500,Wickham,Miss Darcy,1.000000,1
18,67.0,1.0,0.192969,Mr. Bingley,Mr. Darcy,0.270834,1
19,67.0,16.0,0.104278,Mr. Bingley,Jane,0.146355,1
20,67.0,50.0,0.131509,Mr. Bingley,Mrs. Bennet,0.184574,1
21,16.0,48.0,0.115602,Jane,Elizabeth,0.162249,1
22,16.0,1.0,0.051546,Jane,Mr. Darcy,0.072346,0
23,16.0,67.0,0.104278,Jane,Mr. Bingley,0.146355,1
24,1.0,48.0,0.094535,Mr. Darcy,Elizabeth,0.132681,1
25,1.0,16.0,0.051546,Mr. Darcy,Jane,0.072346,0
26,1.0,67.0,0.192969,Mr. Darcy,Mr. Bingley,0.270834,1
27,48.0,1.0,0.094535,Elizabeth,Mr. Darcy,0.132681,1
28,48.0,16.0,0.115602,Elizabeth,Jane,0.162249,1
29,48.0,67.0,0.124367,Elizabeth,Mr. Bingley,0.174550,1

### Validate the Output

In [102]:
#Validation
path_valid = df_data.loc[cur_story_index].validation
if(path_valid is not np.nan):
    df_val = pd.read_excel(path_valid)
    ac1,ac2,ac3,ac4 = validation(df_val,df_close_chars,df_char_int,df_ch_rel)
    print('Accuracy of Identifying Top N Important Characters:',ac1)
    print('Accuracy of Identifying Top k Close Relationships for Every Character:',ac2)
    print('Accuracy of Classsifying the Integrity of Every Character:',ac3)
    print('Accuracy of Classsifying the Nature of Every Relationship:',ac4)

Accuracy of Identifying Top N Important Characters: 0.5
Accuracy of Identifying Top k Close Relationships for Every Character: 0.26666666666666666
Accuracy of Classsifying the Integrity of Every Character: 0.8
Accuracy of Classsifying the Nature of Every Relationship: 1.0

### Export Output

In [90]:
df_close_chars.to_excel(path_output_ch,index=False)
df_char_int.to_excel(path_output_int,index=False)
df_ch_rel.to_excel(path_output_ch_rel,index=False)